/* src/app/globals.css */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans antialiased;
}

/* Optional: Use this if you want smoother transitions for dark/light toggle */
html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}

@theme {
  --color-success              : #22c55e;
  --color-success-bg           : #dcfce7;
  --color-success-fg           : #166534;
  --color-success-dark-bg      : #052e16;
  --color-success-dark-fg      : #bbf7d0;
}

/*--color-success-dark-bg      : #05112e;*/
